	.ui-layout-pane { /* all 'panes' */ 
		padding: 10px; 
		background: #f6f8fc; 
		border-top: 0px solid #f00;
		border-bottom: 0px solid #f00;
		}
		.ui-layout-pane-north ,
		.ui-layout-pane-south {
			border: 0px solid #f00;
			background:#eaeff3;
		} 
		.ui-layout-pane-west {
			border-left: 0px solid #f00;
		} 
		.ui-layout-pane-east {
			border-right: 0px solid #f00;
		} 
		.ui-layout-pane-center {
			border-left: 0;
			border-right: 0;
			background:#f6f8fc;
			padding:0px 0px;
			} 
			.inner-center {
				border: 0px solid red;
			} 

		.outer-west ,
		.outer-east {
			background-color: #f6f8fc;
			width:2px;
		}
		.middle-west ,
		.middle-east {
			background-color: #f6f8fc;

		}

	.ui-layout-resizer { /* all 'resizer-bars' */ 
		background: #9db9dc;
		}
		.ui-layout-resizer:hover { /* all 'resizer-bars' */ 
			background: #FED; 
		}
		.ui-layout-resizer-west {
			border-left: 0px solid #f00;
			padding:0px;margin:0px;
		}
		.ui-layout-resizer-east {
			border-right: 0px solid #f00;
		}

	.ui-layout-toggler { /* all 'toggler-buttons' */ 
		background: #9995b8,;
		} 
		.ui-layout-toggler:hover { /* all 'toggler-buttons' */ 
			background: #FC3; 
		} 

	.outer-center ,
	.middle-center {
		/* center pane that are 'containers' for a nested layout */ 
		padding: 0; 
		border: 0; 
		background:#f6f8fc;
	} 

