.ui-container {padding:8px 15px!important;min-width:800px;margin:0px!important;}
.ui-list-cont {padding:0px!important;}
.ui-main-list-cont {border:1px solid #b9cbdb;padding:1px!important;-webkit-border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px;-webkit-box-shadow: 0 0px 1px #ddd;-moz-box-shadow: 0 0px 1px #ddd;box-shadow: 0 0px 1px #ddd;}
 
.ui-list-header {padding:2px 10px;margin-right:0px;background-color: #cbddea; background: -moz-linear-gradient(100% 100% 90deg, #accade, #cbddea);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbddea), to(#accade));
background: -webkit-linear-gradient(#accade, #cbddea);background: -o-linear-gradient(#accade, #cbddea);border-bottom:1px solid #b9cbdb;-webkit-box-shadow:  0px 1px 1px #b9cbdb;-moz-box-shadow:  0px 1px 1px #b9cbdb;box-shadow:  0px 1px 1px #b9cbdb;}
.ui-list-header h1 { padding:2px 0px;font-size:13px;margin:0px;letter-spacing:1px;float:left; color:#000;border-bottom:1px solid #b9cbdb;font-weight:normal;}
.ui-list-header img {width:16px!important;height:16px!important;margin:0px;margin-right:8px;margin-top:0px;vertical-align:bottom;padding:0px;margin-left:6px;}
.ui-list-header span.ui-minimize-arrow { float:right;cursor:pointer;margin-top:5px;}

.ui-list-footer {height:10px;padding:2px 10px;margin-right:0px;background-color:#dfe2e7;border:1px solid #b9cbdb;border-top:none;}

.ui-main-list { margin-top:1px;border-top:1px solid #b9cbdb;padding-bottom:12px;}
.ui-main-content-list { margin-top:1px;border-top:1px solid #b9cbdb;padding-bottom:1px;}


.ui-content-minimize {border:0px solid #f00;margin:0px 15px;margin-bottom:-15px;text-align:right;}
.ui-content-minimize img {margin:0px;vertical-align:bottom;cursor: pointer;}


.ui-main-content {padding:2px 8px;border:0px solid #f00;}
.ui-main-content fieldset {border-top:1px solid #b9cbdb;border-bottom:0px solid #ddd;
padding:6px 0px 0px 0px;margin:1px 4px 0px 5px;}
.ui-main-content fieldset legend {margin:0px;padding:3px 10px 3px 2px;font-size:11px;letter-spacing:1px;}
.ui-main-content fieldset legend img {margin-right:10px;vertical-align:middle;padding:0px 0px;}
.ui-main-content table tr td a.ui-button {padding:4px 12px!important;}
.ui-main-content table tr td a.ui-button-nav {padding:4px 12px!important;}

.ui-main-form-content {padding:0px 0px;margin:0px;margin-top:-6px;}
.ui-main-form-content fieldset {border:1px solid #b9cbdb;padding:4px 0px 10px 10px;margin:1px 5px 0px 0px;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;background:#fff;}
.ui-main-form-content fieldset legend.ui-form-legend {padding:2px 6px;background:#f9fafb;font-size:10px;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;border:1px solid #b9cbdb;}
.ui-main-form-content fieldset legend img {margin-right:5px;width:12px;height:12px;vertical-align:middle;}
.ui-main-form-content table{border:none;}
.ui-main-form-content table tr {border:none;}
.ui-main-form-content table tr td{border:none;}

.ui-main-form {padding:4px 0px;margin:0px;}
.ui-main-form table {border:none;}
.ui-main-form table tr {border:none;}
.ui-main-form table tr td {border:none;padding:1px!important;}
.ui-main-form table tr td.ui-save-button {padding-left:7px!important;}
.ui-main-form table tr td button.ui-button {padding:2px 10px;margin:0px!important;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;font-size:11px!important;z-index:3000;position:relative;margin-left:4px;}
.ui-main-form table tr td input {margin-left:5px;margin-bottom:1px;padding:3px 3px!important;font-size:11px!important;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;}
.ui-main-form table tr td button {padding:4px 6px!important;margin-left:6px!important;}
.ui-main-form table tr td button input.ui-submit-form {margin-left:0px;margin-bottom:0px;padding:0px 0px!important;font-size:11px!important;border:none;-webkit-box-shadow: 0 0px 0px #ddd;-moz-box-shadow: 0 0px 0px #ddd;box-shadow: 0 0px 0px #ddd;}
.ui-main-form table tr td button img {width:15px;height:15px;vertical-align:middle;margin-right:3px;}

.ui-main-form table tr td textarea {margin-left:5px;margin-bottom:1px;padding:3px 3px!important;font-size:11px!important;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;}
.ui-main-form table tr td select {margin-left:5px;margin-bottom:1px;padding:3px 3px!important;font-size:11px!important;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;}
.ui-main-form table tr td.rightSide {border:none;width:12%;text-align:right;white-space:nowrap!important;text-transform:capitalize!important;font-size:11px!important;vertical-align:top;}
.ui-main-form table tr td.rightSide-medium {border:none;width:8%;text-align:right;white-space:nowrap!important;text-transform:capitalize!important;font-size:11px!important;}



.ui-content-box {padding:0px!important;margin:0px!important;border:1px solid #00f;}
.ui-main-content-cont {padding:0px!important;margin:0px!important;border:0px solid #00f;}
.ui-content-list-box {padding:0px!important;margin:0px!important;border:0px solid #00f;}
.ui-content-lists { border:0px solid #b9cbdb;padding:0!important;margin:0px!important;margin-top:1px;}
.ui-content-lists table {border:0px;margin:0px!important;}
.ui-content-lists table thead {border:0px;}
.ui-content-lists table thead tr {border:0px;}
.ui-content-lists table thead tr th {text-align:left;border:0px;padding:4px 10px;background:#dfe2e7;border-top:1px solid #eee;border-bottom:1px solid #bbb;border-right:1px solid #bbb;color:#000;font-size:12px!important;}
.ui-content-lists table thead tr th.ui-table-border {width:4px!important;background:#dfe2e7;}

.ui-content-lists table thead tr.ui-input-header {padding:0px!important;border:0px solid #ddd;border-bottom:0px solid #ddd;background:#dfe2e7;}
.ui-content-lists table thead tr.ui-input-header th.ui-inpu-box {padding:0px!important;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.ui-content-lists table thead tr.ui-input-header th input {background:#fff;margin:0px!important;padding:3px 3px!important;font-size:11px!important;-webkit-border-radius:1px 1px 1px 1px;-moz-border-radius:1px 1px 1px 1px;border-radius:1px 1px 1px 1px;border:1px solid #aaa;}
.ui-content-lists table thead tr.ui-input-header th select {background:#fff;margin:0px!important;padding:2px 3px!important;font-size:11px!important;-webkit-border-radius:1px 1px 1px 1px;-moz-border-radius:1px 1px 1px 1px;border-radius:1px 1px 1px 1px;border:1px solid #aaa;}
.ui-content-lists table thead tr.ui-input-header th a button.ui-action-button {border:0px solid #f00;margin:0px!important;font-size:10px;font-weight:bold;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;padding:2px 8px;
border:1px solid #aaa;-webkit-box-shadow:0 0px 1px #ddd;-moz-box-shadow:0 0px 1px #ddd;box-shadow:0 0px 1px #ddd;background:#f7f7f7;}


.ui-content-lists table thead tr.ui-input-header th.ui-add-button-action button.ui-add-button {border:0px solid #f00;margin:0px!important;font-size:10px;font-weight:bold;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;padding:2px 4px;
border:1px solid #aaa;-webkit-box-shadow:0 0px 1px #ddd;-moz-box-shadow:0 0px 1px #ddd;box-shadow:0 0px 1px #ddd;background:#f7f7f7;}

.ui-content-lists table thead tr.ui-input-header th a button.ui-action-button img {width:16px;height:16padding:0px!important;margin:0px!important;}


.ui-content-lists table tbody tr.ui-input-body-header {background:#dfe2e7;padding:0px!important;border:0px solid #ddd;border-bottom:0px solid #ddd;}
.ui-content-lists table tbody tr.ui-input-body-header td.ui-input-body-box {padding:0px!important;border-right:1px solid #ddd;border-bottom:1px solid #ddd;background:#dfe2e7;}
.ui-content-lists table tbody tr.ui-input-body-header td input {background:#fff;margin:0px!important;padding:3px 3px!important;font-size:11px!important;-webkit-border-radius:1px 1px 1px 1px;-moz-border-radius:1px 1px 1px 1px;border-radius:1px 1px 1px 1px;border:1px solid #aaa;}
.ui-content-lists table tbody tr.ui-input-body-header td select {background:#fff;margin:0px!important;padding:2px 3px!important;font-size:11px!important;-webkit-border-radius:1px 1px 1px 1px;-moz-border-radius:1px 1px 1px 1px;border-radius:1px 1px 1px 1px;border:1px solid #aaa;}
.ui-content-lists table tbody tr.ui-input-body-header td a button.ui-action-button {border:0px solid #f00;margin:0px!important;font-size:10px;font-weight:bold;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;padding:2px 8px;
border:1px solid #aaa;-webkit-box-shadow:0 0px 1px #ddd;-moz-box-shadow:0 0px 1px #ddd;box-shadow:0 0px 1px #ddd;background:#f7f7f7;}

.ui-content-lists table tbody tr.ui-input-body-header td.ui-add-button-action button.ui-add-button {border:0px solid #f00;margin:0px!important;font-size:10px;font-weight:bold;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;padding:2px 4px;
border:1px solid #aaa;-webkit-box-shadow:0 0px 1px #ddd;-moz-box-shadow:0 0px 1px #ddd;box-shadow:0 0px 1px #ddd;background:#f7f7f7;}

.ui-content-lists table tbody tr.ui-input-body-header td a button.ui-action-button img {width:16px;height:16padding:0px!important;margin:0px!important;}

.ui-content-lists table tbody tr {border:0px;}
.ui-content-lists table tbody tr td {border:0px;font-size:11px!important;padding:1px 10px;background:#fff;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.ui-content-lists table tbody tr td.ui-table-list-border {background:#dfe2e7;}
.ui-content-lists table tbody tr.odd td {background:#fff;}
.ui-content-lists table tbody tr.even td {background:#f6f8fc;}
.ui-content-lists table tbody tr td .ui-list-action {padding:0px;}
.ui-content-lists table tbody tr td .ui-list-action ul {list-style:none;}
.ui-content-lists table tbody tr td .ui-list-action ul li {display:inline-block;}
.ui-content-lists table tbody tr td .ui-list-action ul li button.ui-button {margin:0px;padding:3px;}
.ui-content-lists table tbody tr td .ui-list-action ul li button.ui-button img {margin:0px;width:15px;height:15px;}

.ui-main-menu-cont {min-width:815px;margin:1px;margin-bottom:3px;padding:3px 6px;border:1px solid #b9cbdb;background-color: #f6fafc; background: -moz-linear-gradient(100% 100% 90deg, #cbddea, #f6fafc);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6fafc), to(#cbddea));
background: -webkit-linear-gradient(#cbddea, #f6fafc);background: -o-linear-gradient(#cbddea, #f6fafc);}
.ui-main-menu-actions {padding:3px 0px;border:0px solid #f00;}
.ui-main-menu-actions ul {list-style:none;margin:0px;margin-left:5px;}
.ui-main-menu-actions ul li {vertical-align:middle;display:inline-block;padding:0px 12px;margin-right:2px;border-right:1px dotted #000;}
.ui-main-menu-actions ul li a span.ui-gray-font {color:gray;}
.ui-main-menu-actions ul li:first-child {border-left:1px dotted #000;}
.ui-main-menu-actions ul li:last-child {border-right:0px solid #b9cbdb;}
.ui-main-menu-actions ul li a {color:#000;font-size:11px;}
.ui-main-menu-actions ul li a img {vertical-align:bottom;margin-right:8px;width:14px;height:14px;}

.ui-list-filter-cont {padding:0px 8px;background-color: #f6fafc; background: -moz-linear-gradient(100% 100% 90deg, #cbddea, #f6fafc);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6fafc), to(#cbddea));
background: -webkit-linear-gradient(#cbddea, #f6fafc);background: -o-linear-gradient(#cbddea, #f6fafc);border:1px solid #b9cbdb;margin-top:1px;}
.ui-filter-list {padding:0px;float:right;margin:0px;margin-right:14px;}
.ui-filter-list ul {list-style:none;margin:0px;text-align:right;padding:0px;}
.ui-filter-list ul li {display:inline-block;margin-left:0px;}
.ui-filter-list ul li img { vertical-align:middle;}
.ui-filter-list ul li input {background:white;margin-left:4px;margin-bottom:1px;padding:2px 3px 3px 3px!important;font-size:11px!important;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;}
.ui-filter-list ul li select {background:white;margin-left:4px;margin-bottom:1px;padding:2px 3px!important;font-size:11px!important;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;}

.ui-list-batch-actions {padding:0px;border:0px solid #f00;float:left;margin:0px;margin-left:10px;}
.ui-list-batch-actions ul {list-style:none;margin:0px;text-align:left;padding:0px;}
.ui-list-batch-actions ul li {display:inline-block;padding-top:3px;} 
.ui-list-batch-actions ul li a {color:#000;} 
.ui-list-batch-actions ul li a img {vertical-align:bottom;margin-right:8px;width:12px!important;height:12px!important;} 

.ui-list-pagination-cont {padding:4px;border:1px solid #b9cbdb;margin-top:1px;}


.ui-accordion-cont {border:1px solid #b9cbdb;padding:0px 1px 1px 1px;-webkit-border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px;-webkit-box-shadow: 0 0px 1px #ddd;-moz-box-shadow: 0 0px 1px #ddd;box-shadow: 0 0px 1px #ddd;}
.ui-accordion-header {background-color: #cbddea; background: -moz-linear-gradient(100% 100% 90deg, #accade, #cbddea);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbddea), to(#accade));
background: -webkit-linear-gradient(#accade, #cbddea);background: -o-linear-gradient(#accade, #cbddea);border-bottom:1px solid #b9cbdb;-webkit-box-shadow:  0px 1px 1px #b9cbdb;-moz-box-shadow:  0px 1px 1px #b9cbdb;box-shadow:  0px 1px 1px #b9cbdb;border:1px solid #b9cbdb;-webkit-border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px;}

.ui-accordion-header h2 {padding:5px 15px;font-size:14px;color:#000;text-transform:uppercase;letter-spacing:1px;font-family:'Times New Roman','serif'!important;}


.ui-dashboard-container {padding}
.ui-dashboard-content {}
.ui-dashboard-box {padding:10px 10px;background:#fff;margin-right:5px;border:1px solid #b9cbdb;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;-webkit-box-shadow: 0 0px 1px #ddd;-moz-box-shadow: 0 0px 1px #ddd;box-shadow: 0 0px 1px #ddd;}
.ui-dashboard-box table {width:600px;border:0px solid #00f;}
.ui-dashboard-box table tbody {}
.ui-dashboard-box table tbody tr {}
.ui-dashboard-box table tbody tr td {width:120px;padding:10px;}

.ui-dashboard {height:80px;text-align:center;padding-bottom:10px;background:#f9fafb;border:1px solid #b9cbdb;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;-webkit-box-shadow: 0 0px 1px #ddd;-moz-box-shadow: 0 0px 1px #ddd;box-shadow: 0 0px 1px #ddd;}
.ui-dashboard-shadowed {-webkit-box-shadow: 0 0px 6px #bbb;-moz-box-shadow: 0 0px 6px #bbb;box-shadow: 0 0px 6px #bbb;}
.ui-dashboard img {margin-top:10px;}
.ui-dashboard span.ui-dashboard-label {padding:6px;text-align:center;white-space:nowrap!important;color:#000;font-size:11px;}



#ui-display-error-cont { border:0px solid #f00;padding:8px 15px 5px 15px;}
.ui-error-box { border:0px solid #eee;padding:6px 10px;background:#9b1d07;color:#fff;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;-webkit-box-shadow: 0 0px 5px #ddd;-moz-box-shadow: 0 0px 5px #ddd;box-shadow: 0 0px 5px #ddd;}
.ui-error-list { border:0px solid #f00;padding:2px 0px;color:#fff;}
.ui-error-list span.ui-error-close{float:right;font-weight:bold;margin-right:5px;cursor:pointer;}

#ui-display-delete-cont { border:0px solid #f00;padding:8px 15px 5px 15px;}

#ui-display-success-cont { border:0px solid #f00;padding:8px 15px 5px 15px;}
.ui-success-box { border:0px solid #eee;padding:6px 10px;background:#65c167;color:#fff;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;-webkit-box-shadow: 0 0px 5px #ddd;-moz-box-shadow: 0 0px 5px #ddd;box-shadow: 0 0px 5px #ddd;}
.ui-success-list { border:0px solid #f00;padding:2px 0px;color:#fff;}
.ui-success-list span.ui-success-close{float:right;font-weight:bold;margin-right:5px;cursor:pointer;}

.ui-tab-detail-list-box {margin:0px!important;border:0px solid #f00;background:#f9fafb!important;padding:0px!important;}

.ui-tab-main-cont {padding:15px 15px;background:#f9fafb;}
.ui-tab-container-box {margin:0px!important;border:0px solid #f00;background:#f9fafb!important;padding:0px!important;}
.ui-tab-detail-list-box {margin:0px!important;border:0px solid #ff0;background:#f9fafb;padding:0px;}
.ui-tab-detail-list-box ul.ui-tab-list {margin:0!important;background:#f9fafb;border:none;padding:0px 0px;border:0px solid #ff0;}

.ui-tab-detail-list-box ul.ui-tab-list li {background:#f9fafb;font-size:11px!important;background-color: #cbddea; background: -moz-linear-gradient(100% 100% 90deg, #accade, #cbddea);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbddea), to(#accade));
background: -webkit-linear-gradient(#accade, #cbddea);background: -o-linear-gradient(#accade, #cbddea);border:1px solid #b9cbdb;color:#000;margin-right:8px;border-bottom:0px;}

.ui-tab-detail-list-box ul.ui-tab-list li a { font-size:11px!important;}

.ui-detail-tab-list {padding:0px;border:1px solid #b9cbdb;-webkit-border-radius:0px 3px 3px 3px;-moz-border-radius:0px 3px 3px 3px;border-radius:0px 3px 3px 3px;margin:0px;}

.ui-tab {padding:1px!important;}
.ui-tab-content-frame {margin:0px;padding:0px;}










