.ui-container {padding:8px 15px!important;min-width:800px;margin:0px!important;}
.ui-list-cont {padding:0px!important;}
.ui-main-list-cont {border:1px solid #b9cbdb;padding:1px!important;-webkit-border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px;-webkit-box-shadow: 0 0px 1px #ddd;-moz-box-shadow: 0 0px 1px #ddd;box-shadow: 0 0px 1px #ddd;}
.ui-list-header {padding:2px 10px;margin-right:0px;background-color: #cbddea; background: -moz-linear-gradient(100% 100% 90deg, #accade, #cbddea);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbddea), to(#accade));
background: -webkit-linear-gradient(#accade, #cbddea);background: -o-linear-gradient(#accade, #cbddea);border-bottom:1px solid #b9cbdb;-webkit-box-shadow:  0px 1px 1px #b9cbdb;-moz-box-shadow:  0px 1px 1px #b9cbdb;box-shadow:  0px 1px 1px #b9cbdb;}
.ui-list-header h1 { padding:2px 0px;font-size:13px;margin:0px;letter-spacing:1px;float:left; color:#000;border-bottom:1px solid #b9cbdb;}
.ui-list-header img {width:16px!important;height:16px!important;margin:0px;margin-right:8px;margin-top:0px;vertical-align:bottom;padding:0px;margin-left:6px;}

.ui-main-list { margin-top:1px;border-top:1px solid #b9cbdb;padding-bottom:12px;}


.ui-content-minimize {border:0px solid #f00;margin:0px 15px;margin-bottom:-20px;text-align:right;}
.ui-content-minimize img {margin:0px;vertical-align:bottom;cursor: pointer;}


.ui-main-content {padding:3px 8px;border:0px solid #f00;}
.ui-main-content fieldset {border-top:1px solid #b9cbdb;border-bottom:0px solid #ddd;
padding:8px 0px 0px 0px;margin:4px 4px 0px 5px;}
.ui-main-content fieldset legend {margin:0px;padding:3px 10px 3px 2px;font-size:11px;letter-spacing:1px;}
.ui-main-content fieldset legend img {margin-right:10px;vertical-align:middle;padding:0px 0px;}
.ui-main-content table tr td a.ui-button {padding:4px 12px!important;}
.ui-main-content table tr td a.ui-button-nav {padding:4px 12px!important;}

.ui-main-form-content {padding:0px 0px;margin:0px;margin-top:-8px;}
.ui-main-form-content fieldset {border:1px solid #b9cbdb;padding:4px 0px 15px 10px;margin:2px 5px 0px 0px;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;background:#fff;}
.ui-main-form-content fieldset legend {padding:2px 5px;}
.ui-main-form-content fieldset legend img {margin-right:5px;}
.ui-main-form-content table{border:none;}
.ui-main-form-content table tr {border:none;}
.ui-main-form-content table tr td{border:none;}

.ui-main-form {}

.ui-main-form {padding:0px;margin:0px;}
.ui-main-form table {border:none;}
.ui-main-form table tr {border:none;}
.ui-main-form table tr td {border:none;padding:1px!important;}
.ui-main-form table tr td button.ui-button {padding:2px 10px;margin:0px!important;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;font-size:11px!important;z-index:3000;position:relative;}
.ui-main-form table tr td input {margin-left:5px;margin-bottom:1px;padding:3px 3px!important;font-size:11px!important;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;}
.ui-main-form table tr td select {margin-left:5px;margin-bottom:1px;padding:3px 3px!important;font-size:11px!important;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;}
.ui-main-form table tr td.rightSide {border:none;width:12%;text-align:right;white-space:nowrap!important;text-transform:capitalize!important;font-size:11px!important;}
.ui-main-form table tr td.rightSide-medium {border:none;width:8%;text-align:right;white-space:nowrap!important;text-transform:capitalize!important;font-size:11px!important;}












